@charset "utf-8";
/*-------------------------*/
/*      CSS Stylesheet     */
/*      (C) Kaede 2014     */
/*-------------------------*/

/* font property */
/* [font-style font-variant font-weight]? font-size/line-height? font-family */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    background: url("../img/main_bg.jpg") repeat #f1f1f4;
    padding-top: 64px;
}

/*
 * header style
 */
header.top-header{
    /*margin: 64px 0 0 72px;*/
}

header.top-header h1{
     /*TODO: width待修改 */
    width: 180px;
    height: 86px;
    line-height: 86px;
    font-size: 60px;
    /*font-family: HelveticalNeue, sans-serif;*/
    font-weight: bold;
    background: url("../img/logo_spot.png") no-repeat right 80%;
}

.nav-link{
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 30px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;

    /*display: inline-block;*/
    /*box-sizing: border-box;*/
}

.nav{
    margin-top: 15px;
}

.nav-link:hover{
    margin-top: -1px;
    border-top: solid 1px #b8b8b8;
    border-bottom: solid 1px #b8b8b8;
}

/*
 * content style
 */

.content-box{
    padding-top: 16px;
}

.post-column{
    float: left;
    margin-right: 17px;
}

.post{
    width: 310px;
    height: auto;
    display: block;
    vertical-align: top;
    background-color: #ffffff;
    margin-bottom: 15px;
    -webkit-box-shadow: 2px 2px 2px #dbdbdb;
    -moz-box-shadow: 2px 2px 2px #dbdbdb;
    box-shadow: 2px 2px 2px #dbdbdb;
}

.post-img{
    margin-bottom: 30px;
}

.post-inner{
    padding: 0 24px 20px;
    margin-bottom: 15px;
}

.post-title{
    font-family: Helvetica, serif;
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.post-date{
    font-family: Arial, serif;
    font-weight: normal;
    font-size: 11px;
    color: #8e8e8e;
    margin-bottom: 18px;
}

.post-content{
    font-family: Arial, serif;
    font-weight: normal;
    font-size: 12px;
    color: #4f4f4f;
    margin-bottom: 8px;
    line-height: 24px;
    padding: 6px 0;
    border-top: 1px dotted #8e8e8e;
    border-bottom: 1px dotted #8e8e8e;;
}

.read-more{
    font-family: Arial, serif;
    font-weight: normal;
    font-size: 12px;
    font-style: italic;
    color: #494e51;
}

/*
 * footer style
 */

footer{
    padding: 50px 0;
    margin: 0 auto;
}

.social-sprite{
    background: url("../img/social.png") no-repeat;
    overflow: hidden;
    display: inline-block;
}

.social-item{
    width: 20px;
    height: 20px;
}

#facebook-icon{
    background-position: 5px 0;
}

#twitter-icon{
    margin-left: -4px;
    background-position: -40px 0;
}

#rss-icon{
    background-position: -85px 0;
}

#mail-icon{
    background-position: -130px 0;
}

#page-end{
    margin: 30px 0 0 0;
    font: bold 12px Arial;
    color: #4f5356;
}

#copyright{
    margin: 10px 0 0 0;
    font: 11px Arial;
    color: #4f5356;
}

#copyright a{
    font-style: italic;
}






/*
 * 通用样式
 */

.com-width{
    width: 1350px;
    margin: 0 auto;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}




